{% load static %}
<footer class="footer bg-light">
  <div class="container">


    <div class="row">
      <div class="col-md-4">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/maxxLogo2g.svg' %}" height="25" alt="">
        </a>
      </div>


    </div>

      <div class="row">
          <div class="col-md-4">
        <i class="fas fa-phone"></i> 15: (913)-285-5555
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@maxxima.net
      </div>
    </div>
    <div class="row">

      <div class="col-md-12  text-muted small   mb-lg-0">
        footer &copy; maxxima software 2019. All Rights Reserved.
      </div>
    </div>
  </div>


  </div>
  </div>



</footer>