
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <main role="main">
        <div class="container">
                <h3 class="text-center pt-3" style="color:darkblue;">{{ blog.title }}</h3>
            <br />
                <p>{{ blog.body }}</p>   

                <img class="image-fluid" src="{{ blog.photo_main.url }}" height="400"  alt="">
                <br />
                <br />

            <div style="font-size: .8em;">{{ blog.pub_date }}</div>
            <hr />
            <br />
        </div>

    </main>


{% endblock %}
