{% extends 'base.html' %}
{% load staticfiles %}
        {% block content%}
    <main role="main">
        <div class="container">
            <h2 class="text-center pt-3">Blog</h2>
            <br />
            <br />
            <h3>Latest posts</h3>
            <hr>
            {% if blogs %}      
            {% for b in blogs.all %}
            <a href="{% url 'blog' b.id %}">
                <h3>{{ b.title }}</h3>
            </a>
            <h6>{{ b.pub_date }}</h6>
            <p>{{ b.leader }}</p>   
            <img class="image-fluid" src="{{ b.photo_main.url}}" height="100"  alt="">
            <br />
            <hr />
            <br />
            {% endfor %}
            {% else %}
            <h3>Nope, no blogs</h3>
            {% endif %}

        </div>

    </main>
 {% endblock %}     
