{% extends 'base.html' %}

  {% block content %}  
    <main role="main">
        <div class="container">
            <h2 class="text-center pt-3">{{ researcher.first_name }} {{ researcher.last_name }}, {{ researcher.academic_title }}</h2>
             <h4>{{ researcher.alma_mater }}</h4>   
            <br />
            <hr>
                
            <h6>{{ researcher.alma_mater}}</h6>
            <img class="image-fluid" src="{{ researcher.photo_main.url}}" height="100"  alt="">
            <br />
            <hr />
            <br />
            
        </div>

    </main>
{% endblock %}
